@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library System! </h1>
    Yasin Ansari
    Student ID: 12202806
    Ganesh Karki
    12200596
    Aabhash Bogati
    12101094
    Mukunda Bhandari
    12202277
</div>
